# Public API
clarent==0.0.8

# Base requirements, Twisted, TLS, AMP etc
twisted>=13.2.0
pyOpenSSL==0.13.1
txampext==0.0.10
pycrypto # for manhole
pyasn1 # for manhole

# Storage
epsilon
pysqlite
axiom
maxims==0.0.2
